body{
    font-family: Arial, Helvetica, sans-serif;
}
.button-green{
    padding: 3px;
    border: 1px solid #006400;
    background-color: #69A74E;
}

a{
    outline: none !important;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.main-container{
    text-align: center;
    border: 1px solid #5B74A8;
    border-radius :10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    /*width: 700px;*//**/
    max-width: 760px;
    min-width: 760px;
    height: auto;
    padding: 15px;
    background-color: #ffffff;
    margin:0 auto;
}

.link-button-span{

}

.link-button-link{
    color: #069;
    font-size: 11px;
}

.items-container{
    margin: 5px;
    padding: 15px;
    clear: both;
    height: auto;
}

.items-container-label{
    color: #069;
    float:left;
    margin-top: -5px;
}