body{
  font-family: Arial, Helvetica, sans-serif;
}

a{
    outline: none !important;
}

#main-container{
    border: 1px solid #5B74A8;
    border-radius :10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 700px;
    max-width: 700px;
    height: auto;
    padding: 20px;
    background-color: #ffffff;
    margin:0 auto;

}

#name-container{
    width: 400px;
    margin: auto auto;
}

#avatar-container{
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 5px;
}
#avatar-container img{
    width: 48px;
    height: 48px;
    }

#name{
    float: left;
    margin-top: 12px;
}

#username-link:hover{
    text-decoration: underline;
    cursor: pointer;
}

#username-link{
    text-decoration: none;
    color: black;
}

#processing-indicator{
    background: url(img/wait_load.png) no-repeat;
    width: 32px;
    height: 32px;
    float: left;
    margin-top: 6px;
    margin-left: 5px;
}

.items-container{
    margin: 5px;
    padding: 15px;
    clear: both;

    height: auto;
}

.items-container-label{
    color: #069;
    float:left;
    margin-top: -5px;
}

.items-container-add-button{
    color: #069;
    display: block;
    float: right;
    cursor: pointer;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
.items-container-add-button:hover{
    text-decoration: underline;
}

#interests-list{
    padding-left: 15px;
    margin-top: 20px;
}
#interest-label{
    font-weight: bold;
}
.interest{
    color: white;
    list-style-type: none;
    padding: 3px;
    background: #5B74A8;
    float:left;
    border-radius :7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 1px;
    font-size: 12px;
}
.interest a{
    color: white;
    text-decoration: none;
}

.interest a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.remove-image-container{
    float:right;
    cursor: pointer;
    height:auto;
    margin-left: 3px;
    margin-top: 1px;
}

.remove-image{
    width:16px;
    height:16px;
    float:right;
}

#skill-list{
    clear:both;
    padding-left: 15px;
    padding-top: 5px;
    width: 400px;
}

#skills-label{
    font-weight: bold;
}

#my-projects{
    text-decoration: none;
    display: block;
    margin-top: 10px;
    color: #ffffff;
}

#my-projects-container{
    color: white;
    background-color: #69A74E;
    display: block;
    margin: auto;
    width: 130px;
    height: 40px;
    clear:both;
    border: 1px solid black;
    text-align: center;
}

.skill-name-link{
    font-size: 13px;
    color:#069;
}

.skill-name-link:hover{
    text-decoration: underline;
}

.remove-skill-link{
    color:#069;
}