body{
  font-family: Arial, Helvetica, sans-serif;
}

#main-container{
    border: 1px solid #5B74A8;
    border-radius :10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 790px;
    max-width: 790px;
    height: auto;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
}

#name-container{
    margin-left: 50%;
}

#avatar-container{
    background: url(img/comix.png) no-repeat;
    width: 48px;
    height: 48px;
    float: left;
}

#name{
    float: left;
    margin-top: 12px;
}

#processing-indicator{
    background: url(img/wait_load.png) no-repeat;
    width: 32px;
    height: 32px;
    float: left;
    margin-top: 6px;
}

.items-container{
    margin: 5px;
    padding: 15px;
    clear: both;
    width: 760px;
    max-width: 760px;
    height: auto;
}

.items-container-label{
    color: #3B5998;
    float:left;
    margin-top: -5px;
}

.items-container-add-button{
    color: #3B5998;
    display: block;
    float: right;
    cursor: pointer;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
.items-container-add-button:hover{
    text-decoration: underline;
}

#interests-list{
    padding-left: 15px;
    margin-top: 20px;
}
.interest{
    padding: 3px;
    background: #5B74A8;
    float:left;
    border-radius :7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    color: white;
    width: auto;
    clear:right;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 1px;
}

.interest span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.remove-image-container{
    float:right;
    cursor: pointer;
    height:auto;
    margin-left: 3px;
    margin-top: 1px;
}

.remove-image{
    background: url(img/delete.png) no-repeat;
    width:16px;
    height:16px;
    float:right;
}

#skill-list{
    clear:both;
    padding-left: 15px;
    padding-top: 5px;
}

#my-projects{
    text-decoration: none;
    display: block;
    margin-top: 10px;
    color: #ffffff;
}

#my-projects-container{
    background-color: #69A74E;
    display: block;
    margin: auto;
    width: 130px;
    height: 40px;
    clear:both;
    border: 1px solid black;
    text-align: center;
}

#my-projects-container:hover{
    text-decoration: underline;
}

.skill-name-span{
    color:#3B5998;
}