%h1 Facebook ♡ GitHub

= facebook_login_button(:perms => 'email, read_stream, status_update, publish_stream, read_friendlists, create_event, publish_actions, user_interests, user_groups, user_events, user_education_history, user_activities, user_online_presence, user_work_history').html_safe