ul{
    list-style-type: none;
}
.title{
    font-size: 24px;
    font-weight: bold;
}
#projects-list{
    padding: 3px;
}
.project-item{
    /*border: 1px solid black;*/
    border-radius :6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    padding: 5px;
    display: block;
    min-height: 60px;
    max-width: 740px;
    width: 740px;
    background: #E6F1F6;
    border: 1px solid #C5D5DD;
    margin-bottom: 10px;
}

.project-name{
    display: block;
    float:left;
    margin-top: 20px;
    word-wrap: break-word;
    max-width: 200px;
    width: 200px;
    min-width: 200px;
    font-weight: bold;
    color: #4183C4;
}

.technologies{
    float:left;
    padding: 2px;
    margin-left: 10px;
    margin-top: 5px;
    width: 210px;
    max-width: 210px
}

.technologies-list{
    padding: 0;
}

.technology-item{
    display: block;
    float: left;
    color: white;
    padding: 3px;
    background: #5B74A8;
    float:left;
    border-radius :7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 1px;
    font-size: 12px;
}

.view-more-span{
    display: block;
    float: left;
    margin-top: 5px;
    margin-left: 4px;
}

.project-teammates{
    max-width: 300px;
    width: 300px;
    min-width: 300px;
    float:left;
    margin-left: 10px;
}

.project-teammates-list{
    padding: 0;
}

.teammate-picture{
    max-width: 48px;
    max-height: 48px;
}
.teammate{
    margin-right: 5px;
    float:left;
}

.   view-all-teammates-span{
    margin-top:20px;
    margin-left: 0px;
}