.skill-name-span{
    font-weight: bold;
    margin-right: 3px;
    cursor: pointer;
    display: block;
    float:left;
}

.skill-name-link-removed
{
    text-decoration: line-through !important;
}

.remove-skill-span{
    font-size: 10px;
    color: black;
    display: block;
    float:left;
    clear: both;
    margin-top: -4px;
    margin-left: 2px;
    padding: 0;
}

 .skill-name-link{
     text-decoration: none;
 }

.remove-skill-link{
    font-weight: normal;
    text-decoration: none;
}

.remove-skill-link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.gui-input{
    min-height: 30px;
    max-width: auto;
}

.gui-container{
    float:right;
}

.float-left{
    float:left;
}
.level-button{
    width: 23px;
    height: 23px;
    cursor:pointer;
}

.level-item{
    border: 1px solid black;
    margin: 2px;
    width: 7px;
    height: 15px;
    background: transparent;
}

.level-item:hover{
    height: 17px;
    margin-top: -2px;
    cursor:pointer;
}

.level-item-achieved{
    background-color: #69A74E;
}

.decrease-level-button{
    background: url(../img/minus.png) no-repeat;
}

.increase-level-button{
    background: url(../img/plus.png) no-repeat;
}
