#name-span{
    font-weight: bold;
    margin-right: 3px;
    max-width: 50px;
}
.float-left{
    float:left;
}
.level-button{
    width: 23px;
    height: 23px;
    cursor:pointer;
}

.level-item{
    border: 1px solid black;
    margin: 2px;
    width: 7px;
    height: 15px;
}

#gui-input{
    min-height: 30px;
    max-width: auto;
}

#decrease-level-button{
    background-image: url(../img/minus.png);
}

#increase-level-button{
    background-image: url(../img/plus.png);
}