.skill-name-span{
    font-weight: bold;
    margin-right: 3px;
    cursor: pointer;
}

.float-left{
    float:left;
}
.level-button{
    width: 23px;
    height: 23px;
    cursor:pointer;
}

.level-item{
    border: 1px solid black;
    margin: 2px;
    width: 7px;
    height: 15px;
    background: transparent;
}

.level-item:hover{
    height: 17px;
    margin-top: -2px;
    cursor:pointer;
}

.level-item-achieved{
    background-color: #69A74E;
}

.gui-input{
    min-height: 30px;
    max-width: auto;
}

.decrease-level-button{
    background: url(../img/minus.png) no-repeat;
}

.increase-level-button{
    background: url(../img/plus.png) no-repeat;
}